# .NET Core
*.dll
*.exe
*.pdb
*.user
*.bin
*.suo
*.log
*.vs/
*.vscode/
*/bin/
*/obj/
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*SolutionItems/
*_i.exe
*_p.exe
*.ipch/
*.msi
*.ndp
*.psess
*.rdl.data
*.rptproj.user
*.scc
*.testsettings
*.tst
*.userprefs
*.v11.suo
*.vsp
*.vspx
*.vsps
*_cache/
*_csharpout/
*_gitattributes/
*_msdeploy/
*_node/
*_npm/
*_pack/
*_ps/
*_ts/
*.dbmdl
*.jfm
*.ldd
*.mdf
*.mdf.lnk
*.ndf
*.ndf.lnk
*.pdb/
*.redis/redis.windows.conf
*.shfbproj
*.shfb/
*.snk
*.sqlproj.user
*.testsettings
*.ttf
*.webproj.user
*.yml
.vs/
.vscode/
__fsharp__
packages/
**/bin/
**/obj/
